@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Cinzel:wght@400..900&family=Lekton:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --emo-bakgrund: #0d0d0d;
  --emo-yta: #1a1a1a;
  --emo-text: #f0f0f0;
  --emo-accent: #7a0e2f;
  --emo-accent-mork: #380518;
  --emo-border: #333;
}

body {
  background-image:
    linear-gradient(
      45deg,
    var(--emo-yta) 25%,
      transparent 25%,
      transparent 75%,
      var(--emo-yta) 75%
    ),
    linear-gradient(
      45deg,
      var(--emo-yta) 25%,
      transparent 25%,
      transparent 75%,
      var(--emo-yta) 75%
    );
  background-size: 30px 30px;
  background-position:
    0 0,
    15px 15px;
  background-attachment: fixed;
  background-color: var(--emo-bakgrund); /* mörkare bas bakom mönstret */
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 50px;
  margin: 0;
  font-family: "Aboreto", cursive;
  font-weight: 500;
  color: #222121;
}

h2 {
  font-size: 24px;
  margin: 0;
  font-weight: 500;
  color: var(--emo-text);
}

h3 {
  font-size: 20px;
  margin: 0;
}

h4 {
    font-family: "Aboreto", cursive;
  color: var(--emo-text);
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
}

h3,
p,
a {
  font-family: "Lekton", monospace;
  color: var(--emo-text);
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ff2e6c;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }
}
