.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.yatzy-block {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--emo-yta);
  color: var(--emo-text);
}

th,
td {
  font-size: 16px;
  font-family: "Lekton", monospace;
  border: 2px solid #413f3d;
  padding: 4px 8px;
  text-align: left;
}

.summa-rad {
  background-color: #413f3d;
  font-weight: bold;
}

input {
  width: 100%;
  border: none;
  background: transparent;
  text-align: center;
}

.player-input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 200px;
  background-color: #f0f0f0;
  border: 1px solid #2c2b2b;
}

button {
  padding: 0.5rem 1rem;
  background-color: #413f3d;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Lekton", monospace;
  margin-left: 10px;
}

button:hover {
  background-color: var(--emo-accent);
}

#terminate-button {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .player-input {
    width: 300px;
  }

  th,
  td {
    font-size: 20px;
    padding: 6px 12px;
  }
}
